
.box1{
  width: 120px;
/*  float: left; */
}

.arrow{
  position: relative;
  width: 50px;
  height: 20px;
  border-bottom: 8px solid #5bc0de;
  box-sizing: border-box;
}
.arrow::after{
  content: "";
  position: absolute;
  bottom: -18px;
  right: -14px;
  border-left: 14px solid #5bc0de;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

/* 
.arrow{
  position: relative;
  width: 200px;
  height: 50px;
  border-top: 8px solid #5bc0de;
  border-right: 8px solid #5bc0de;
  box-sizing: border-box;
}
.arrow::after{
  content: "";
  position: absolute;
  bottom: -14px;
  right: -17px;
  border-top: 14px solid #5bc0de;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}
 */

